.section {
  width: calc(100%  - 140px);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transform: translateY(300%);
          transform: translateY(300%);
  -webkit-transition: 2s all;
  transition: 2s all;
  margin-top: 80px;
}

.section__title {
  font-size: 60px;
}

.section__blocks {
  margin-top: 30px;
  width: inherit;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section__block {
  width: calc(calc(100%  - 140px)/2 - 40px);
  height: 450px;
  margin-right: 40px;
}

.section__img {
  height: 80%;
  width: 100%;
}

.section__text {
  font-size: 30px;
}

.section__info {
  margin-top: 40px;
}

.section__text-img {
  float: left;
  margin: 0 100px 0 0;
  height: 1000px;
  width: 600px;
}

.section__info-text {
  font-size: 48px;
}

.section__info-text > b, .section__info-text ul b {
  font-size: 56px;
}

.section__info-text div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section__info-text div p {
  margin-right: 40px;
}
