* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #04121f;
  overflow: hidden;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hex-layout {
  width: 85vw;
  position: relative;
  left: -310px;
  top: -62px;
  font-size: 0;
}

.hex-layout::before {
  content: "";
  width: calc(220px/2 + 0px);
  float: left;
  height: 120%;
  shape-outside: repeating-linear-gradient(#0000 0 calc(calc(220px * 1.732 + 4 * 0px - 1px) - 3px), red 0 calc(220px * 1.732 + 4 * 0px - 1px));
}

.hex-item {
  display: inline-block;
  font-size: initial;
  -webkit-clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
          clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  width: 220px;
  margin: 0px;
  height: calc(220px * 1.1547);
  background: linear-gradient(45deg, #595f65, white);
  margin-bottom: calc(0px - 220px * 0.291);
  position: relative;
}

.hex-item::after {
  content: '';
  position: absolute;
  -webkit-clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
          clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  width: inherit;
  height: inherit;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  background-color: #04121f;
}

.hex-item::before {
  content: '';
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  left: -42px;
  top: 52px;
  -webkit-box-shadow: 0 0 40px 20px #3b76bd;
          box-shadow: 0 0 40px 20px #3b76bd;
  z-index: 4;
}

.hex-item__icon {
  width: 100px;
  height: 100px;
  position: absolute;
  left: calc(60px);
  top: calc(calc(220px * 1.1547)/2 - 100px/2);
  z-index: 2;
}

[tag=industry] {
  top: 228px;
  left: 648px;
}

[tag=culture-tour] {
  top: 404px;
  left: 316px;
}

[tag=export] {
  top: 425px;
  left: 750px;
}

[tag=export] .bar {
  width: 80px;
}

[tag=science-potential] {
  top: 600px;
  left: 200px;
}

[tag=science-potential] .bar {
  width: 45px;
}

[tag=science-city] {
  top: 610px;
  left: 636px;
}

[tag=science-city] .bar {
  width: 80px;
}

[tag=prom-potential] {
  top: 800px;
  left: 316px;
}

[tag=agro] {
  top: 810px;
  left: 750px;
}

.hex-item__tag {
  position: absolute;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.circle {
  -webkit-clip-path: circle(8.1% at 50% 50%);
          clip-path: circle(8.1% at 50% 50%);
  background-color: #e0dedc;
  width: 8px;
  height: 8px;
  -webkit-transform: scale(10);
          transform: scale(10);
}

.bar {
  width: 50px;
  height: 3px;
  background-color: #e0dedc;
}

.area {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 15px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #e0dedc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
}

.hex-item__text {
  color: #000;
  font-size: 16px;
  text-transform: uppercase;
}

.hexagon__page {
  width: 0;
  height: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  opacity: 0;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.active-page {
  z-index: 2;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.hexagon__text-page {
  color: #000;
  font-size: 24px;
}

.hexagon__page-close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 80px;
  height: 80px;
  background-image: url(./img/close-svgrepo-com.svg);
  display: none;
  cursor: pointer;
}

.hex-item-active {
  -webkit-clip-path: none !important;
          clip-path: none !important;
}

.right-side {
  position: absolute;
  top: 180px;
  right: 160px;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.title {
  font-size: 46px;
  color: #fff;
}

.hexagon__block {
  width: 400px;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 4px solid #395e89;
  opacity: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateY(300%);
          transform: translateY(300%);
  -webkit-transition: 2s all;
  transition: 2s all;
  padding: 10px;
  overflow-y: scroll;
}

.hexagon__block-logo {
  width: 250px;
  height: 250px;
}

.hex-item:nth-child(5) {
  opacity: 0;
}

.hex-item:nth-child(6) {
  opacity: 0;
}

.hex-item:nth-child(7) {
  opacity: 0;
}

.hex-item:nth-child(12) {
  opacity: 0;
}

.hex-item:nth-child(13) {
  opacity: 0;
}

.hex-item:nth-child(32) {
  opacity: 0;
}

.hex-item:nth-child(33) {
  opacity: 0;
}

#hexPage {
  cursor: pointer;
}
