$textSize: 28px;
$textColor: #fff;
$textBoldSize: 42px;

$sizeSlidesTitle: 42px;
$colorSlidesTitle: #ffc000;

$sizeSlidesSubtitle: 38px;
$colorSlidesSubtitle: #fff;

$maxWidthSlide: calc(100% - 100px);

$widthHexStartSlide: 460px;
$heightHexStartSlide: #{calcHeightHexSlide($widthHexStartSlide)};
$mgLeftHexagon: calc( #{-$widthHexStartSlide} * 0.23);

$yellowBee: #ffc000;