$textSize: 42px;
$textColor: #fff;
$textBoldSize: 42px;

$sizeSlidesTitle: 80px;
$colorSlidesTitle: #fff;

$maxWidthSlide: calc(100% - 100px);

$widthHexStartSlide: 540px;
$heightHexStartSlide: #{calcHeightHexSlide($widthHexStartSlide)};
$mgLeftHexagon: calc( #{-$widthHexStartSlide} * 0.23);
