$industry: #2c92f2;
$it: #7fb7eb;
$culture-tour: #7febc2;
$science-sity: #00C9EF;
$agro: #5BCBA4;
$science-potential: #00CCCC;


$bgPage: #000a19;
$bg: #000a19;
$borderColor: linear-gradient(45deg, rgb(89, 95, 101), rgb(255, 255, 255));
$widthItem: 220px;
$heightItem: calc(#{$widthItem} * 1.1547);
$m: 0px; // margin
$f: calc(#{$widthItem} * 1.732 + 4 * #{$m} - 1px);
$sizeIcon: 100px;