
$widthSection: calc(100%  - 140px);
$titleFontSize: 60px;
// 1 слайд - Наукоград
.section {
    width: $widthSection;
    height: fit-content;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transform: translateY(300%);
    transition: 2s all;
}
.startSlide {
    
}
.anima-ascent {
   
}
.startSlide__title {
    font-size: $titleFontSize;
}
.startSlide__blocks {
    margin-top: 30px;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.startSlide__block {
    width: calc(#{$widthSection}/2 - 40px);
    height: 450px;
    margin-right: 40px;
    cursor: pointer;
    border: 4px solid #395e89;
    padding: 5px;
    margin-bottom: 20px;
}
.startSlide__img {
    height: 80%;
    width: 100%;
}
.startSlide__text {
    font-size: 30px;
}

// 2 слайд - Наукоград
$textSize: 38px;
$textBoldSize: 42px;
.oneSlide {
    width: 0;
    height: 0;
    opacity: 0;
    transition: 0.5s all;
    position: relative;
    transform: translateY(0px);
    background-color: #fff;
}
.oneSlide__info {
    margin-top: 40px;
}
.oneSlide__title {
    font-size: $titleFontSize;
}
.oneSlide__text-img {
    float: left;
    margin: 0 100px 0 0;
    height: 600px;
    width: 600px;
}
.oneSlide__info-text {
    font-size: $textSize;
}
.oneSlide__info-text > b, .section__info-text ul b {
    font-size: $textBoldSize;
}
.oneSlide__info-text div {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.oneSlide__info-text div p {
    margin-right: 40px;
}



// 3 Слайд - Наукоград

.twoSlide {
    width: 0;
    height: 0;
    opacity: 0;
    transition: 0.5s all;
    position: relative;
    transform: translateY(0px);
    background-color: #fff;
}
.twoSlide__space-eat {
    display: flex;
    padding: 100px 0 0 0;
    height: inherit;
}
.twoSlide__left-side {
    flex: 3;
}
.twoSlide__title {
    font-size: $titleFontSize;
}
.twoSlide__text-space-eat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: $textSize;
    margin-top: 40px;
    height: 80%;
}
.twoSlide__right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}
.twoSlide__image-space-eat {
    width: 100%;
    height: 30%;
    
}
.twoSlide__image-space-eat b {
    font-size: 56px;
}

// Начальный слайд - Культурно-исторический потенциал

.section-tour {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 90%;
    max-height: 1080px;
    height: 100%;
}

.section-tour__block {
    width: 450px;
    height: 350px;
    justify-self: center;
    border: 4px solid #395e89;
    padding: 5px 5px 30px 5px;
    grid-column: 3;
    grid-row: 3;
}
.section-tour__title {
    grid-column: 2;
    grid-row: 1;
    font-size: $titleFontSize;
    align-self: center;
    text-align: center;
}

.section-tour__block:nth-child(2) {
    grid-column: 1;
    grid-row: 1;
}
.section-tour__block:nth-child(3) {
    grid-column: 3;
    grid-row: 1;
}
.section-tour__block:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
}
.section-tour__block:nth-child(5) {
    grid-column: 1;
    grid-row: 3;
}

.sectiontour__img {
    width: 100%;
    height: 80%;
}
.section-tour__text {
    font-size: $textSize;
}

// 1 слайд - Культурно - исторический потенциал
.tour-oneSlide {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 0;
    height: 0;
    opacity: 0;
    transition: 0.5s all;
    position: relative;
    transform: translateY(0px);
    background-color: #fff;
}
.tour-oneSlide__block {
}
.tour-oneSlide__block > img {
    width: 100%;
    height: 100%;
}
.tour-oneSlide__title {
}
.tour-oneSlide__item {
}
.tour-oneSlide__icon {
    width: 100%;
    height: 100%;
}
.tour-oneSlide__block:nth-child(1) {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}
.tour-oneSlide__block:nth-child(2) {
    grid-column: 1/span 1;
    grid-row: 1;
}
.tour-oneSlide__block:nth-child(3) {
    grid-column: 3;
    grid-row: 1;
}
.tour-oneSlide__block:nth-child(4) {
    grid-column: 3;
    grid-row: 2;
}
.tour-oneSlide__block:nth-child(5) {
    grid-column: 1;
    grid-row: 3;
}