
$widthSection: calc(100%  - 140px);
$titleFontSize: 60px;
// 1 слайд - Наукоград
.section {
    width: $widthSection;
    height: fit-content;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transform: translateY(300%);
    transition: 2s all;
    margin-top: 80px;
}
.anima-ascent {
   
}
.section__title {
    font-size: $titleFontSize;
}
.section__blocks {
    margin-top: 30px;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.section__block {
    width: calc(#{$widthSection}/2 - 40px);
    height: 450px;
    margin-right: 40px;
}
.section__img {
    height: 80%;
    width: 100%;
}
.section__text {
    font-size: 30px;
}

// 2 слайд - Наукоград

.section__info {
    margin-top: 40px;
}
.section__text-img {
    float: left;
    margin: 0 100px 0 0;
    height: 1000px;
    width: 600px;
}
.section__info-text {
    font-size: 48px;
}
.section__info-text > b, .section__info-text ul b {
    font-size: 56px;
}
.section__info-text div {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.section__info-text div p {
    margin-right: 40px;
}
// 3 Слайд - Наукоград

.section__space-eat {
    display: flex;
}
.section__left-side {
    flex: 3;
    height: 100%;

}
.section__title {
    font-size: $titleFontSize;
    
}
.section__text-space-eat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 48px;
    margin-top: 40px;
}
.section__right-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}
.section__image-space-eat {
    width: 100%;
    height: 30%;
    
}
.section__image-space-eat b {
    font-size: 56px;
}