// наука-обр - 00CCCC
// сельхоз 5BCBA4
// наукоград - 00C9EF
// пром потенциал 9b7feb
// культур-тур 7febc2
// экспорт 7fb7eb
// промышленность 2c92f2
$industry: #2c92f2;
$export: #7fb7eb;
$culture-tour: #7febc2;
$prom-potential: #9b7feb;
$science-sity: #00C9EF;
$agro: #5BCBA4;
$science-potential: #00CCCC;
$bg: #04121f;
$borderColor: #6a6869;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: $bg;
    overflow: hidden;
    
    
}
$widthItem: 220px;
$heightItem: 254.03px;
$m: 0px; // margin
$f: calc(#{$widthItem} * 1.732 + 4 * #{$m} - 1px);
$sizeIcon: 120px;

.block {
    display:flex;
}
.hex-layout {
    width: 85vw;
    position: relative;
    left: -310px;
    top: 58px;
    font-size: 0;
    
 
}
.hex-layout::before {
    content: "";
    width: calc(#{$widthItem}/2 + #{$m});
    float: left;
    height: 120%;
    shape-outside: repeating-linear-gradient(#0000 0 calc(#{$f} - 3px), red 0 #{$f} );
  }
.hex-item {
    display: inline-block;
    font-size:initial;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    width: #{$widthItem};
    margin: #{$m};
    height: #{$heightItem}; 
    background-color: $borderColor;
    margin-bottom: calc(#{$m} - #{$widthItem} * 0.291);
    position: relative;
    
}
.hex-item::after {
    content: '';
    position: absolute;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    width: inherit;
    height: inherit;
    transform: scale(0.95);
    background-color: $bg;
   
}
.hex-item__icon{
    width: $sizeIcon;
    height: $sizeIcon;
    position: absolute;
    left: calc(#{$widthItem/2 - $sizeIcon/2});
    top: calc(#{$heightItem/2 - $sizeIcon/2});
    z-index: 2;
}

.hexagon__page {
    width: 0;
    height: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    opacity: 0;

    transition: 0.5s all;
}
.active-page {
    z-index: 2; 
    width: 100%;
    height: 100%;
    position: fixed; 
    top: 0; 
    left: 0; 
    display: flex;
    opacity: 1;
    transition: 0.5s all;
}
.hexagon__text-page {
    opacity: 0;
    color: #fff;
    font-size: 24px;
    transform: translateY(300%);
    transition: 2s all;
}
.hexagon__page-close{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 80px;
    height: 80px;
    background-image: url(./img/close-svgrepo-com.svg);
    
}

.hex-item-active {
    clip-path: none !important;
}

.right-side {
    position: absolute;
    top: 310px;
    right: 160px;
    transform: scale(1.5);
}
.title {
    font-size: 46px;
    color: #fff;
}

.hex-item:nth-child(5){
    opacity: 0;
}
.hex-item:nth-child(6){
    opacity: 0;
}
.hex-item:nth-child(7){
    opacity: 0;
}
.hex-item:nth-child(12){
    opacity: 0;
}
.hex-item:nth-child(13){
    opacity: 0;
}
.hex-item:nth-child(32){
    opacity: 0;
}
.hex-item:nth-child(33){
    opacity: 0;
}
#hexPage{
    cursor: pointer;
}




