// наука-обр - 00CCCC
// сельхоз 5BCBA4
// наукоград - 00C9EF
// пром потенциал 9b7feb
// культур-тур 7febc2
// экспорт 7fb7eb
// промышленность 2c92f2

@import 'section.scss';

$industry: #2c92f2;
$export: #7fb7eb;
$culture-tour: #7febc2;
$prom-potential: #9b7feb;
$science-sity: #00C9EF;
$agro: #5BCBA4;
$science-potential: #00CCCC;

$bg: #04121f;
$borderColor: linear-gradient(45deg, rgb(89, 95, 101), rgb(255, 255, 255));
$widthItem: 220px;
$heightItem: calc(#{$widthItem} * 1.1547);
$m: 0px; // margin
$f: calc(#{$widthItem} * 1.732 + 4 * #{$m} - 1px);
$sizeIcon: 100px;
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: $bg;
    overflow: hidden;
    
}

.block {
    display:flex;
}
.hex-layout {
    width: 85vw;
    position: relative;
    left: -310px;
    top: -62px;
    font-size: 0;
}
.hex-layout::before {
    content: "";
    width: calc(#{$widthItem}/2 + #{$m});
    float: left;
    height: 120%;
    shape-outside: repeating-linear-gradient(#0000 0 calc(#{$f} - 3px), red 0 #{$f} );
  }
.hex-item {
    display: inline-block;
    font-size:initial;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    width: #{$widthItem};
    margin: #{$m};
    height: #{$heightItem}; 
    background: $borderColor;
    margin-bottom: calc(#{$m} - #{$widthItem} * 0.291);
    position: relative;
    
}
.hex-item::after {
    content: '';
    position: absolute;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    width: inherit;
    height: inherit;
    transform: scale(0.95);
    background-color: $bg;
   
}
.hex-item::before {
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    left: -42px;
    top: 52px;
    box-shadow: 0 0 40px 20px rgb(59, 118, 189);
    z-index: 4;
}
.hex-item__icon {
    width: $sizeIcon;
    height: $sizeIcon;
    position: absolute;
    left: calc(#{$widthItem/2 - $sizeIcon/2});
    top: calc(#{#{$heightItem}/2 - #{$sizeIcon}/2});
    z-index: 2;
}
[tag=industry] {
    top: 228px;
    left: 648px;
} 
[tag=culture-tour] {
    top: 404px;
    left: 316px;
} 
[tag=export] {
    top: 425px;
    left: 750px;
} 
[tag=export] .bar {
    width: 80px;
}
[tag=science-potential] {
    top: 600px;
    left: 200px;
}
[tag=science-potential]  .bar {
    width: 45px;
}  
[tag=science-city] {
    top: 610px;
    left: 636px;
} 
[tag=science-city] .bar {
    width: 80px;
}
[tag=prom-potential] {
    top: 800px;
    left: 316px;
} 
[tag=agro] {
    top: 810px;
    left: 750px;
} 

.hex-item__tag {
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    
}
.circle {
    clip-path: circle(8.1% at 50% 50%);
    background-color: #e0dedc;
    width: 8px;
    height: 8px;
    transform: scale(10);
}
.bar {
    width: 50px;
    height: 3px;
    background-color: #e0dedc;
}
.area {
    width: fit-content;
    padding: 10px 15px;
    height: fit-content;
    background-color: #e0dedc;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.hex-item__text {
    color: #000;
    font-size: 16px;
    text-transform: uppercase
    
}

.hexagon__page {
    width: 0;
    height: 0;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.5s all;
}
.hexagon__page::-webkit-scrollbar {
    width: 0;
}

.active-page {
    z-index: 2; 
    width: 100%;
    height: 100%;
    position: fixed; 
    top: 0; 
    left: 0; 
    display: flex;
    opacity: 1;
    transition: 0.5s all;
}
.hexagon__blocks {
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transform: translateY(300%);
    transition: 2s all;
    width: calc(100%  - 180px);

}
.hexagon__text-page {
    color: #000;
    font-size: 24px;
}
.hexagon__page-close{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 70px;
    height: 70px;
    background-image: url(./img/close-svgrepo-com.svg);
    display: none;
    cursor: pointer;
}
.hexagon__page-title {
    text-align: center;
    font-size: 40px;
}

.hex-item-active {
    clip-path: none !important;
}

.right-side {
    position: absolute;
    top: 180px;
    right: 160px;
    transform: scale(1.5);
}
.title {
    font-size: 46px;
    color: #fff;
}
// POPUP
$sizeIconPopup: 250px;
.hexagon__block {
    margin-top: 80px;
    width: 400px;
    height: 800px;
    display: flex;
    border: 4px solid #395e89;
    align-items: center;
    flex-direction: column;
    padding: 10px;

}
.hexagon__block-logo {
    width: $sizeIconPopup;
    height: $sizeIconPopup;
}

.hex-item:nth-child(5){
    opacity: 0;
}
.hex-item:nth-child(6){
    opacity: 0;
}
.hex-item:nth-child(7){
    opacity: 0;
}
.hex-item:nth-child(12){
    opacity: 0;
}
.hex-item:nth-child(13){
    opacity: 0;
}
.hex-item:nth-child(32){
    opacity: 0;
}
.hex-item:nth-child(33){
    opacity: 0;
}
#hexPage{
    cursor: pointer;
}
// [sector=industry]::after {
//     background-color: $industry;
// }
// [sector=culture-tour]::after {
//     background-color: $culture-tour;
// }
// [sector=export]::after {
//     background-color: $export;
// }
// [sector=science-potential]::after {
//     background-color: $science-potential;
// }
// [sector=science-city]::after {
//     background-color: $science-sity;
// }
// [sector=prom-potential]::after {
//     background-color: $prom-potential;
// }
// [sector=agro]::after {
//     background-color: $agro;
// }





