* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000a19;
  overflow: hidden;
}

[tag=industry] {
  top: 228px;
  left: 648px;
}

[tag=culture-tour] {
  top: 404px;
  left: 316px;
}

[tag=export] {
  top: 425px;
  left: 750px;
}

[tag=export] .bar {
  width: 80px;
}

[tag=science-potential] {
  top: 600px;
  left: 200px;
}

[tag=science-potential] .bar {
  width: 45px;
}

[tag=science-city] {
  top: 610px;
  left: 636px;
}

[tag=science-city] .bar {
  width: 80px;
}

[tag=agro] {
  top: 800px;
  left: 316px;
  width: 200px;
}

[tag=agro] .bar {
  width: 100px;
}

.tag {
  position: absolute;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.circle {
  -webkit-clip-path: circle(8.1% at 50% 50%);
          clip-path: circle(8.1% at 50% 50%);
  background-color: #e0dedc;
  width: 8px;
  height: 8px;
  -webkit-transform: scale(10);
      -ms-transform: scale(10);
          transform: scale(10);
}

.bar {
  width: 50px;
  height: 3px;
  background-color: #e0dedc;
}

.area {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 15px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #e0dedc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
}

.tag__text {
  color: #000;
  font-size: 16px;
  text-transform: uppercase;
}

.right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 80px;
  right: 160px;
}

.right-side__gerb {
  width: 400px;
  height: 400px;
  margin-bottom: 40px;
}

.right-side__title {
  font-size: 46px;
  color: #fff;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hex-layout {
  width: 85vw;
  position: relative;
  left: -310px;
  top: -62px;
  font-size: 0;
}

.hex-layout::before {
  content: "";
  width: calc(220px/2 + 0px);
  float: left;
  height: 120%;
  shape-outside: repeating-linear-gradient(rgba(0, 0, 0, 0) 0 calc(calc(220px * 1.732 + 4 * 0px - 1px) - 3px), red 0 calc(220px * 1.732 + 4 * 0px - 1px));
}

.hex-item {
  display: inline-block;
  font-size: initial;
  -webkit-clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
          clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  width: 220px;
  margin: 0px;
  height: calc(220px * 1.1547);
  background: -o-linear-gradient(45deg, rgb(89, 95, 101), rgb(255, 255, 255));
  background: linear-gradient(45deg, rgb(89, 95, 101), rgb(255, 255, 255));
  margin-bottom: calc(0px - 220px * 0.291);
  position: relative;
  cursor: pointer;
}

.hex-item::after {
  content: "";
  position: absolute;
  -webkit-clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
          clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  width: inherit;
  height: inherit;
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
  background-color: #000a19;
}

.hex-item::before {
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  left: -42px;
  top: 52px;
  -webkit-box-shadow: 0 0 40px 20px rgb(59, 118, 189);
          box-shadow: 0 0 40px 20px rgb(59, 118, 189);
  z-index: 4;
}

.hex-item__icon {
  width: 100px;
  height: 100px;
  position: absolute;
  left: calc(220px/2 - 100px/2);
  top: calc(calc(220px * 1.1547)/2 - 100px/2);
  z-index: 2;
}

.hexagon__page {
  width: 0;
  height: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  background-color: #000a19;
}

.hexagon__page-close {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 30px;
  top: 20px;
  cursor: pointer;
  z-index: 2;
}

.hexagon__page::-webkit-scrollbar {
  width: 0;
}

.active-page {
  z-index: 2;
  width: 100vw !important;
  height: 100vh !important;
  position: fixed !important;
  top: 0;
  left: 0;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  opacity: 1 !important;
  -webkit-transition: 0.5s all !important;
  -o-transition: 0.5s all !important;
  transition: 0.5s all !important;
  background-color: #000a19 !important;
}

.hex-item:nth-of-type(n+5):nth-of-type(-n+7) {
  opacity: 0;
}

.hex-item:nth-of-type(13), .hex-item:nth-of-type(32), .hex-item:nth-of-type(33) {
  opacity: 0;
}

.hexagon-outer {
  -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
          clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  background-color: #fff;
}

.hexagon-inner {
  -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
          clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
  width: inherit;
  height: inherit;
}

.startSlide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: calc(100% - 100px);
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.startSlide__title {
  font-size: 80px;
  color: #fff;
  text-align: center;
}

.startSlide__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  margin-left: 140px;
}

.startSlide__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: calc( -450px * 0.23);
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.startSlide__block:nth-of-type(2n) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-top: calc(360px / 2 - 136px);
}

.startSlide__hexagon-outer {
  width: 450px;
  height: 360px;
}

.startSlide__img {
  width: 100%;
  height: 100%;
}

.startSlide__text {
  color: #fff;
  font-size: 42px;
}

.industry__start-slide .industry__title {
  font-size: 80px;
  color: #fff;
  text-align: center;
}
.industry__start-slide .industry__one-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.industry__start-slide .industry__two-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.industry__start-slide .industry__block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.industry__start-slide .industry__hexagon-outer {
  width: 320px;
  height: 256px;
}
.industry__start-slide .industry__block:nth-of-type(n):nth-child(-n+4) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.industry__start-slide .industry__block:nth-of-type(2n) {
  top: calc(256px/2 + 15px);
}
.industry__start-slide .industry__img {
  width: 100%;
  height: 100%;
}
.industry__start-slide .industry__text {
  font-size: calc(42px - 6px);
  color: #fff;
}

.industry__one-slide {
  width: 0;
  height: 0;
  opacity: 0;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  position: relative;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 40px;
}
.industry__one-slide .industry__one-slide__title {
  font-size: 80px;
  color: #fff;
}
.industry__one-slide .industry__one-slide__subtitle {
  font-size: 80px;
  color: #fff;
}
.industry__one-slide .industry__one-slide__text {
  font-size: 42px;
  color: #fff;
}
.industry__one-slide .industry__one-slide__hexagon-outer {
  width: 450px;
  height: 360px;
}
.industry__one-slide .industry__one-slide__hexagon-outer:nth-of-type(2n) {
  margin-left: calc(450px - 450px/4 + 15px);
  position: relative;
  top: calc(-360px/2 + 15px);
}
.industry__one-slide .industry__one-slide__image {
  width: 100%;
  height: 100%;
}

.industry__two-slide {
  width: 0;
  height: 0;
  opacity: 0;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  position: relative;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 40px;
}
.industry__two-slide .industry__two-slide__title {
  font-size: 80px;
  color: #fff;
}
.industry__two-slide .industry__two-slide__subtitle {
  font-size: 80px;
  color: #fff;
}
.industry__two-slide .industry__two-slide__text {
  font-size: 42px;
  color: #fff;
}
.industry__two-slide .industry__two-slide__hexagon-outer {
  width: 450px;
  height: 360px;
}
.industry__two-slide .industry__two-slide__hexagon-outer:nth-of-type(2n) {
  margin-left: calc(450px - 450px/4 + 15px);
  position: relative;
  top: calc(-360px/2 + 15px);
}
.industry__two-slide .industry__two-slide__image {
  width: 100%;
  height: 100%;
}

.industry__three-slide {
  width: 0;
  height: 0;
  opacity: 0;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  position: relative;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 40px;
}
.industry__three-slide .industry__three-slide__title {
  font-size: 80px;
  color: #fff;
}
.industry__three-slide .industry__three-slide__subtitle {
  font-size: 80px;
  color: #fff;
}
.industry__three-slide .industry__three-slide__text {
  font-size: 42px;
  color: #fff;
}
.industry__three-slide .industry__three-slide__right-side {
  margin-top: 100px;
}
.industry__three-slide .industry__three-slide__hexagon-outer {
  width: 450px;
  height: 360px;
}
.industry__three-slide .industry__three-slide__hexagon-outer:nth-of-type(2n) {
  margin-left: calc(450px - 450px/4 + 15px);
  position: relative;
  top: calc(-360px/2 + 15px);
}
.industry__three-slide .industry__three-slide__hexagon-outer:nth-of-type(3) {
  position: relative;
  top: calc(-360px + 15px);
}
.industry__three-slide .industry__three-slide__image {
  width: 100%;
  height: 100%;
}

.sciencePotential__start-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sciencePotential__start-slide__title {
  font-size: 80px;
  color: #fff;
}

.sciencePotential__start-slide__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 80px;
}

.sciencePotential__start-slide__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24%;
  border: 4px solid #fff;
  padding: 5px;
}

.sciencePotential__start-slide__logo {
  width: 120px;
  height: 120px;
}

.sciencePotential__start-slide__text {
  font-size: calc(42px - 10px);
  color: #fff;
}

.cultureTour__one-slide {
  width: 0;
  height: 0;
  opacity: 0;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  position: relative;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 40px;
}
.cultureTour__one-slide .culturetour__one-slide__title {
  font-size: 80px;
  color: #fff;
}
.cultureTour__one-slide .culturetour__one-slide__item {
  color: #fff;
  font-size: 42px;
}
.cultureTour__one-slide .culturetour__one-slide__item > p {
  font-size: 42px;
  color: #fff;
}
.cultureTour__one-slide .culturetour__one-slide__right-side {
  height: 90vh;
}
.cultureTour__one-slide .culturetour__one-slide__hexagon-outer {
  width: 450px;
  height: 360px;
}
.cultureTour__one-slide .culturetour__one-slide__hexagon-outer:nth-of-type(2) {
  margin-left: calc(450px - 450px/4 + 20px);
  position: relative;
  top: calc(-360px/2 + 20px);
}
.cultureTour__one-slide .culturetour__one-slide__hexagon-outer:nth-of-type(3) {
  position: relative;
  top: calc(-360px + 20px);
}
.cultureTour__one-slide .culturetour__one-slide__hexagon-outer:nth-of-type(4) {
  margin-left: calc(450px - 450px/4 + 20px);
  position: relative;
  top: calc(-360px*1.5 + 2*20px);
}
.cultureTour__one-slide .cultureTour__one-slide__img {
  width: 100%;
  height: 100%;
}

.cultureTour__two-slide {
  width: 0;
  height: 0;
  opacity: 0;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  position: relative;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 40px;
}
.cultureTour__two-slide .cultureTour__two-slide__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90%;
  margin: 0 20px;
}
.cultureTour__two-slide .culturetour__two-slide__hexagon-outer {
  width: 350px;
  height: 280px;
  margin-bottom: 10px;
}
.cultureTour__two-slide .culturetour__one-slide__hexagon-outer--move {
  left: calc(350px - 350px/4 + 0px);
  position: relative;
  top: calc(-280px/2 + 0px);
}
.cultureTour__two-slide .cultureTour__two-slide__img {
  width: 100%;
  height: 100%;
}
.cultureTour__two-slide .cultureTour__two-slide__title {
  font-size: calc(80px - 10px);
  color: #fff;
}
.cultureTour__two-slide .cultureTour__two-slide__img-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cultureTour__two-slide .cultureTour__two-slide__img-block img {
  width: 300px;
  height: 400px;
}
.cultureTour__two-slide .cultureTour__two-slide__text-img {
  color: #fff;
  font-size: calc(42px - 2px);
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}
.cultureTour__two-slide .cultureTour__two-slide__info {
  color: #fff;
  font-size: 42px;
}

.cultureTour__three-slide {
  width: 0;
  height: 0;
  opacity: 0;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  position: relative;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 40px;
}
.cultureTour__three-slide .cultureTour__three-slide__rah {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 180px;
}
.cultureTour__three-slide .culturetour__three-slide__title {
  font-size: 80px;
  color: #fff;
}
.cultureTour__three-slide .culturetour__three-slide__text {
  font-size: 42px;
  color: #fff;
}
.cultureTour__three-slide .culturetour__three-slide__hexagon-outer {
  width: 450px;
  height: 360px;
}
.cultureTour__three-slide .culturetour__three-slide__hexagon-outer:nth-of-type(2) {
  margin-left: calc(450px - 450px/4 + 15px);
  position: relative;
  top: calc(-360px/2 + 15px);
}
.cultureTour__three-slide .culturetour__three-slide__hexagon-outer:nth-of-type(3) {
  position: relative;
  top: calc(-360px + 15px);
}
.cultureTour__three-slide .cultureTour__three-slide__img {
  width: 100%;
  height: 100%;
}

.cultureTour__four-slide {
  width: 0;
  height: 0;
  opacity: 0;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  position: relative;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 40px;
}
.cultureTour__four-slide .culturetour__four-slide__title {
  font-size: 80px;
  color: #fff;
}
.cultureTour__four-slide .culturetour__four-slide__text {
  font-size: 42px;
  color: #fff;
  margin-top: 40px;
}
.cultureTour__four-slide .culturetour__four-slide__right-side {
  height: 90vh;
}
.cultureTour__four-slide .culturetour__four-slide__hexagon-outer {
  width: 340px;
  height: 272px;
}
.cultureTour__four-slide .culturetour__four-slide__hexagon-outer:nth-of-type(2) {
  margin-left: calc(340px - 340px/4 + 15px);
  position: relative;
  top: calc(-272px/2 + 15px);
}
.cultureTour__four-slide .culturetour__four-slide__hexagon-outer:nth-of-type(3) {
  position: relative;
  top: calc(-272px + 15px);
}
.cultureTour__four-slide .culturetour__four-slide__hexagon-outer:nth-of-type(4) {
  margin-left: calc(340px - 340px/4 + 15px);
  position: relative;
  top: calc(-272px*1.5 + 2*15px);
}
.cultureTour__four-slide .culturetour__four-slide__hexagon-outer:nth-of-type(5) {
  position: relative;
  top: calc(-272px*2 + 2*15px);
}
.cultureTour__four-slide .culturetour__four-slide__hexagon-outer:nth-of-type(6) {
  margin-left: calc(340px - 340px/4 + 15px);
  position: relative;
  top: calc(-272px*2.5 + 4*15px);
}
.cultureTour__four-slide .cultureTour__four-slide__img {
  width: 100%;
  height: 100%;
}

.cultureTour__five-slide {
  width: 0;
  height: 0;
  opacity: 0;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  position: relative;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 40px;
}
.cultureTour__five-slide .tour-fourSlide__title {
  font-size: 80px;
  color: #fff;
}
.cultureTour__five-slide .cultureTour__five-slide__left-text {
  font-size: 42px;
  color: #fff;
  margin-bottom: 20px;
}
.cultureTour__five-slide .culturetour__five-slide__hexagon-outer {
  width: 400px;
  height: 320px;
}
.cultureTour__five-slide .cultureTour__five-slide__left-side .culturetour__five-slide__hexagon-outer:nth-of-type(2) {
  margin-left: calc(400px - 400px/2 + 5px);
  position: relative;
}
.cultureTour__five-slide .cultureTour__five-slide__left-side .culturetour__five-slide__hexagon-outer:nth-of-type(3) {
  position: relative;
}
.cultureTour__five-slide .cultureTour__five-slide__img {
  width: 100%;
  height: 100%;
}
.cultureTour__five-slide .cultureTour__five-slide__right-side {
  margin-right: 100px;
}
.cultureTour__five-slide .cultureTour__five-slide__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 80px;
}
.cultureTour__five-slide .cultureTour__five-slide__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.cultureTour__five-slide .cultureTour__five-slide__elem-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.cultureTour__five-slide .cultureTour__five-slide__item-text {
  font-size: 42px;
  color: #fff;
  text-align: center;
}
.cultureTour__five-slide .cultureTour__five-slide__elem-text-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.scienceCity__one-slide {
  width: 0;
  height: 0;
  opacity: 0;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  position: relative;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 40px;
}

.scienceCity__one-slide__title {
  font-size: 80px;
  color: #fff;
}

.scienceCity__one-slide__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 80px;
}

.scienceCity__one-slide__text-img {
  width: 100%;
  height: 150%;
}

.scienceCity__one-slide__info-text {
  color: #fff;
  font-size: 42px;
  width: 60%;
}

.scienceCity__one-slide__info-text div {
  border: 10px solid #fff;
  padding: 10px;
}

.scienceCity__one-slide__hexagon-outer {
  width: 600px;
  height: 480px;
}

.scienceCity__two-slide {
  width: 0;
  height: 0;
  opacity: 0;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  position: relative;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 40px;
}
.scienceCity__two-slide .scienceCity__two-slide__space-eat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 80px;
}
.scienceCity__two-slide .scienceCity__two-slide__left-side {
  color: #fff;
}
.scienceCity__two-slide .scienceCity__two-slide__title {
  font-size: 80px;
  color: #fff;
}
.scienceCity__two-slide .scienceCity__two-slide__text-space-eat {
  font-size: 42px;
}
.scienceCity__two-slide .scienceCity__two-slide__right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.scienceCity__two-slide .scienceCity__two-slide__hexagon-outer {
  width: 450px;
  height: 360px;
}
.scienceCity__two-slide .scienceCity__two-slide__hexagon-outer:nth-of-type(2n) {
  margin-left: calc(450px - 450px/4 + 15px);
  position: relative;
  top: calc(-360px/2 + 15px);
}
.scienceCity__two-slide .scienceCity__two-slide__hexagon-outer:nth-last-of-type(1) {
  position: relative;
  top: calc(-360px + 15px);
}
.scienceCity__two-slide .scienceCity__two-slide__image-space-eat {
  width: 100%;
  height: 100%;
}

.scienceCity__three-slide {
  width: 0;
  height: 0;
  opacity: 0;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  position: relative;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 40px;
}
.scienceCity__three-slide .scienceCity__three-slide__title {
  font-size: 80px;
  color: #fff;
}
.scienceCity__three-slide .scienceCity__three-slide__tech-apk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 80px;
}
.scienceCity__three-slide .scienceCity__three-slide__left-side {
  height: 90%;
}
.scienceCity__three-slide .scienceCity__three-slide__text {
  font-size: calc(42px - 4px);
  color: #fff;
}
.scienceCity__three-slide .scienceCity__three-slide__hexagon-outer {
  width: 400px;
  height: 320px;
}
.scienceCity__three-slide .scienceCity__three-slide__hexagon-outer:nth-of-type(2n) {
  margin-left: calc(400px - 400px/4 + 10px);
  position: relative;
  top: calc(-320px/2 + 10px);
}
.scienceCity__three-slide .scienceCity__three-slide__hexagon-outer:nth-of-type(3) {
  position: relative;
  top: calc(-320px + 10px);
}
.scienceCity__three-slide .scienceCity__three-slide__img {
  width: 131%;
  height: 128%;
  position: relative;
  left: -104px;
}

.scienceCity__four-slide {
  width: 0;
  height: 0;
  opacity: 0;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  position: relative;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 40px;
}
.scienceCity__four-slide .scienceCity__four-slide__title {
  font-size: 80px;
  color: #fff;
}
.scienceCity__four-slide .scienceCity__four-slide__tech-kadr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 80px;
}
.scienceCity__four-slide .scienceCity__four-slide__text {
  font-size: 42px;
  color: #fff;
}
.scienceCity__four-slide .scienceCity__four-slide__hexagon-outer {
  width: 400px;
  height: 320px;
}
.scienceCity__four-slide .scienceCity__four-slide__hexagon-outer:nth-of-type(2n) {
  margin-left: calc(400px - 400px/4 + 10px);
  position: relative;
  top: calc(-320px/2 + 10px);
}
.scienceCity__four-slide .scienceCity__four-slide__hexagon-outer:nth-of-type(3) {
  position: relative;
  top: calc(-320px + 10px);
}
.scienceCity__four-slide .scienceCity__four-slide__img {
  width: 100%;
  height: 100%;
}