.hexagon__blocks {
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transform: translateY(300%);
    transition: 2s all;
    width: calc(100%  - 180px);

}
.hexagon__text-page {
    color: #000;
    font-size: 24px;
}
.hexagon__page-close{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 70px;
    height: 70px;
    background-image: url(./img/close-svgrepo-com.svg);
    display: none;
    cursor: pointer;
}
.hexagon__page-title {
    text-align: center;
    font-size: 40px;
}

.hex-item-active {
    clip-path: none !important;
}



// POPUP
$sizeIconPopup: 250px;
.hexagon__block {
    margin-top: 80px;
    width: 400px;
    height: 800px;
    display: flex;
    border: 4px solid #395e89;
    align-items: center;
    flex-direction: column;
    padding: 10px;

}
.hexagon__block-logo {
    width: $sizeIconPopup;
    height: $sizeIconPopup;
}

.hex-item:nth-child(5){
    opacity: 0;
}
.hex-item:nth-child(6){
    opacity: 0;
}
.hex-item:nth-child(7){
    opacity: 0;
}
.hex-item:nth-child(12){
    opacity: 0;
}
.hex-item:nth-child(13){
    opacity: 0;
}
.hex-item:nth-child(32){
    opacity: 0;
}
.hex-item:nth-child(33){
    opacity: 0;
}
#hexPage{
    cursor: pointer;
}