
//Наукоград - 1 слайд

.scienceCity__one-slide {
    @include startStyleAnima;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 40px;

}
.hexagon__page-close {
}
.scienceCity__oneSlide__title {
    font-size: $sizeSlidesTitle;
    color: $colorSlidesTitle;
}
.scienceCity__oneSlide__info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 80px;
}

.scienceCity__oneSlide__text-img {
    width: 100%;
    height: 150%;
}
.scienceCity__oneSlide__info-text {
    color: $textColor;
    font-size: $textSize;
    width: 60%;
}
.scienceCity__oneSlide__info-text div {
    border: 10px solid #fff;
    padding: 10px;
}
.scienceCity__one-slide__hexagon-outer {
    $widthHex: 600px;
    width: $widthHex;
    height: calcHeightHexSlide($widthHex);
}


// Наукоград - 2 слайд

.scienceCity__two-slide {
    @include startStyleAnima;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 40px;

    $widthHex: 450px;
    $heightHex: calcHeightHexSlide($widthHex);
    $mgHex: 15px;

    .scienceCity__two-slide__space-eat {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 80px;
    }
    .scienceCity__two-slide__left-side {
        color: $textColor;
    }
    .scienceCity__two-slide__title {
        font-size: $sizeSlidesTitle;
        color: $colorSlidesTitle;
    }
    .scienceCity__two-slide__text-space-eat {
        font-size: $textSize;
    }
    .scienceCity__two-slide__right-side {
        display: flex;
        flex-direction: column;
    }
    .scienceCity__two-slide__hexagon-outer {
        
        width: $widthHex;
        height: $heightHex;
    }
    .scienceCity__two-slide__hexagon-outer:nth-of-type(2n){
        margin-left: calc(#{$widthHex} - #{$widthHex}/4 + #{$mgHex});
        position: relative;
        top: calc(#{-$heightHex}/2 + #{$mgHex});
    }
    .scienceCity__two-slide__hexagon-outer:nth-last-of-type(1) {
        position: relative;
        top: calc(#{-$heightHex} + #{$mgHex});
    }
    .hexagon-inner {
    }
    .scienceCity__two-slide__image-space-eat {
        width: 100%;
        height: 100%;
    }
}



//Наукоград - 3 слайд

.scienceCity__three-slide {
    @include startStyleAnima;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 40px;

    $widthHex: 400px;
    $heightHex: calcHeightHexSlide($widthHex);
    $mgHex: 10px;

    .scienceCity__three-slide__title {
        font-size: $sizeSlidesTitle;
        color: $colorSlidesTitle;
    }
    .scienceCity__three-slide__tech-apk {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 80px;
    
    }
    .scienceCity__three-slide__left-side {
        height: 90%;
    }
    .scienceCity__three-slide__text {
        font-size: calc(#{$textSize} - 4px);
        color: $textColor;
    }
    .scienceCity__three-slide__right-side {
    }
    .scienceCity__three-slide__hexagon-outer {
        width: $widthHex;
        height: $heightHex;
    }
    .scienceCity__three-slide__hexagon-outer:nth-of-type(2n){
        margin-left: calc(#{$widthHex} - #{$widthHex}/4 + #{$mgHex});
        position: relative;
        top: calc(#{-$heightHex}/2 + #{$mgHex});
    }
    .scienceCity__three-slide__hexagon-outer:nth-of-type(3){
        position: relative;
        top: calc(#{-$heightHex} + #{$mgHex});
    }
    
    .scienceCity__three-slide__img {
        width: 131%;
        height: 128%;
        position: relative;
        left: -104px;
    }
    
}


// Наукоград - 4 Слайд

.scienceCity__four-slide {
    @include startStyleAnima;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 40px;

    $widthHex: 400px;
    $heightHex: calcHeightHexSlide($widthHex);
    $mgHex: 10px;


    .scienceCity__four-slide__title {
        font-size: $sizeSlidesTitle;
        color: $colorSlidesTitle;
    }
    .scienceCity__four-slide__tech-kadr {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 80px;
    }
    .scienceCity__four-slide__left-side {
    }
    .scienceCity__four-slide__text {
        font-size: $textSize;
        color: $textColor;
    }
    .scienceCity__four-slide__right-side {
    }
    .scienceCity__four-slide__hexagon-outer {
        width: $widthHex;
        height: $heightHex;
    }
    
    .scienceCity__four-slide__hexagon-inner {
    }

    .scienceCity__four-slide__hexagon-outer:nth-of-type(2n){
        margin-left: calc(#{$widthHex} - #{$widthHex}/4 + #{$mgHex});
        position: relative;
        top: calc(#{-$heightHex}/2 + #{$mgHex});
    }
    .scienceCity__four-slide__hexagon-outer:nth-of-type(3){
        position: relative;
        top: calc(#{-$heightHex} + #{$mgHex});
    }
    
    .scienceCity__four-slide__img {
        width: 100%;
        height: 100%;
        // position: relative;
        // left: -104px;
    }
}





