.agro__start-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    
    $widthHex: 450px;
    $heightHex: calcHeightHexSlide($widthHex);
    $mgHex: 15px;
    .agro__hexNav {
        display: flex;
        flex-direction: column;
        margin-top: 200px;
    }
    .agro__block {
        
    }
    .agro__hexagon-outer {
        width: $widthHex;
        height: $heightHex;
        
    }
    .agro__block:nth-of-type(1){
        margin-left: calc(#{$widthHex} - #{$widthHex}/4 + #{$mgHex});
        position: relative;
        top: calc(#{-$heightHex}/2 + #{$mgHex});
        
    }
    .agro__block:nth-of-type(2){
        position: relative;
        top: calc(#{-$heightHex} + #{$mgHex});
        
    }
    .agro__block:nth-of-type(3){ 
        margin-left: calc(#{$widthHex} - #{$widthHex}/4 + #{$mgHex});
        position: relative;
        top: calc(#{-$heightHex}*1.5 + 2*#{$mgHex});
    }
    .agro__block:nth-of-type(4) {
        position: relative;
        top: calc(#{-$heightHex}*2 + #{$mgHex} + 18px);
    }
    
    .agro__img {
        width: 100%;
        height: 100%;
    }
    .agro__descr-item {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 510px;
    }
    .agro__descr-item:nth-of-type(2){
        top: 129px;
        right: 40px;
        width: 350px;
    }
    .agro__descr-item:nth-of-type(3){
        top: 140px;
        left: 64px;
    }
    .agro__descr-item:nth-of-type(4){
        top: 604px;
        right: 73px;
    }
    .agro__descr-item:nth-of-type(5){
        top: 770px;
    left: 122px;
    }
    .agro__title-descr {
        font-size: calc(#{$sizeSlidesTitle} - 15px);
        color: $colorSlidesTitle;
    }
    .agro__descr-text {
        font-size: calc(#{$textSize} - 5px);
        color: $textColor;
    }
    .agro__name-inderline {
        position: absolute;
        
    }
    .agro__name-inderline:nth-of-type(1){
        top: 120px;
        right: 304px;
    }
    .agro__name-inderline:nth-of-type(2){
        top: 128px;
        left: 360px;
    }
    .agro__name-inderline:nth-of-type(3){
        top: 588px;
        right: 284px;
    }
    .agro__name-inderline:nth-of-type(4){
        top: 770px;
        left: 288px;
    }

}

//Агропромышленный комплекс - 1 слайд

.agro__two-slide {
    @include startStyleAnima;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;

    $widthItem: 450px;
    $heightItem: calc(#{$widthItem} * 1.1547);
    $m: 0px; 
    $f: calc(#{$widthItem} * 1.732 + 4 * 
    #{$m} - 1px);
    .agro__two-slide__maslo {
        display:flex;
    } 
    .agro__two-slide__hex-layout {
        position: relative;
        left: 0px;
        top: 0px;
        font-size: 0;
    }
    .agro__two-slide__hex-layout:before {
        content: "";
        width: calc(#{$widthItem}/2 + #{$m});
        float: left;
        height: 120%;
        shape-outside: repeating-linear-gradient(#0000 0 calc(#{$f} - 3px),
         red 0 #{$f} );
    }
    .agro__two-slide__hex-item {
        display: inline-block;
        font-size:initial;
        clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
        width: #{$widthItem};
        margin: #{$m};
        height: #{$heightItem}; 
        background: $borderColor;
        margin-bottom: calc(#{$m} - #{$widthItem}
         * 0.291);
        position: relative;
        cursor: pointer;
    }
    .agro__two-slide__hex-item:after {
        content: '';
        position: absolute;
        clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
        width: inherit;
        height: inherit;
        transform: scale(0.95);
        background-color: $bg;
    }
}

