.section-tour {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 90%;
    max-height: 1080px;
    height: 100%;
}

.section-tour__block {
    width: 450px;
    height: 350px;
    justify-self: center;
    border: 4px solid #395e89;
    padding: 5px 5px 30px 5px;
    grid-column: 3;
    grid-row: 3;
}
.section-tour__title {
    grid-column: 2;
    grid-row: 1;
    font-size: $titleFontSize;
    align-self: center;
    text-align: center;
}

.section-tour__block:nth-child(2) {
    grid-column: 1;
    grid-row: 1;
}
.section-tour__block:nth-child(3) {
    grid-column: 3;
    grid-row: 1;
}
.section-tour__block:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
}
.section-tour__block:nth-child(5) {
    grid-column: 1;
    grid-row: 3;
}

.sectiontour__img {
    width: 100%;
    height: 80%;
}
.section-tour__text {
    font-size: $textSize;
}

// 1 слайд - Культурно - исторический потенциал
.tour-oneSlide {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;

    @include startStyleAnima
}

.tour-oneSlide__block > img {
    width: 100%;
    height: 350px;
}
.tour-oneSlide__title {
    font-size: $titleFontSize;
}
.tour-oneSlide__item {
    font-size: $textSize;
}
.tour-oneSlide__icon {
    width: 400px;
    height: 350px;
}
.tour-oneSlide__block {
    width: 700px;
    grid-column: 1 / span 2;
    grid-row: 3;
}
.tour-oneSlide__block:first-child {
    grid-column: 1/span2;
    grid-row: 3;
}
.tour-oneSlide__block:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "title title"
                         "logo terra"
                         "logo monuments";
    grid-column: 1 / span 3;
    grid-row: 1/span 2;
    width: 900px;
    gap:  100px;
}
.tour-oneSlide__item {
    font-size: $textSize;
}
.tour-oneSlide__item > b{
    font-size: calc(#{$textSize} + 10px);
}
.tour-oneSlide__title {
    grid-area: title;
    align-self: center;
    
}
.tour-oneSlide__item:nth-child(2) {
    grid-area: logo;
}
.tour-oneSlide__item:nth-child(3) {
    grid-area: terra;
}
.tour-oneSlide__item:last-child {
    grid-area: monuments;
}

.tour-oneSlide__block:nth-child(3) {
    width: 520px;
    grid-column: 3/span 2;
    grid-row: 1;
    justify-self: end;
}
.tour-oneSlide__block:nth-child(4) {
    width: 520px;
    grid-column: 3/span 2;
    grid-row: 2;
    justify-self: end;
}
.tour-oneSlide__block:last-child {
    grid-column: 3 / span 2;
    grid-row: 3;
}
[popup=popup-five] {
    padding: 0 300px;
}

// 2 слайд - Культурно - исторический потенциал

.tour-twoSlide {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-areas: "title title title"
                        "textBlock textBlock monument"
                        "rooms rooms card";
    @include startStyleAnima;
    padding: 10px 20px 20px 20px;
}
.tour-twoSlide__title{
    grid-area: title;
    font-size: $titleFontSize;
    justify-self: center;

}
.tour-twoSlide__block > p {
    font-size: $textSize;
}
.tour-twoSlide__block > img {
    max-width: 540px;
    max-height: 400px;
}
.tour-twoSlide__block {
    grid-area: rooms;
}
.tour-twoSlide__block:first-child {
    grid-area: textBlock;
}
.tour-twoSlide__block:nth-child(2){
    grid-area: monument;
}
.tour-twoSlide__block:nth-child(3){
    grid-area: textBlock;
    align-self: center;
}
.tour-twoSlide__block:nth-child(4){
    grid-area: monument;
}
.tour-twoSlide__block:last-child{
    grid-area: card;
    background-color: #5f497a;
    width: 600px;
    height: 400px;
    font-size: 50px;
    color: #fff;
    padding: 20px;
    font-weight: 900;
}

// 3 слайд - Культурно - исторический потенциал

.tour-threeSlide {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "title title title"
                         "textBlock twoImg twoImg"
                         "tambovNab twoImg twoImg"
                         "soborPl soborPreo Nikol";
    @include startStyleAnima;
    padding: 10px 20px 20px 20px;
}
.tour-threeSlide__title {
    font-size: $titleFontSize;
    grid-area: title;
}
.tour-threeSlide__block > img {
}
.tour-threeSlide__block > p {
    font-size: $textSize;
}
.tour-threeSlide__block:nth-of-type(1) {
    grid-area: textBlock;
    width: 800px;
    height: 400px;
}
.tour-threeSlide__block:nth-of-type(1) > p > b {
    font-size: $textBoldSize;
}
.tour-threeSlide__block:nth-of-type(1) > p > span {
    font-weight: bold;
    font-size: 70px;
}
.tour-threeSlide__block:nth-of-type(1) > p > b span {
    font-weight: bold;
    font-size: 70px;
}
.tour-threeSlide__block:nth-of-type(2){
    grid-area: twoImg;
    justify-self: end;
}
.tour-threeSlide__block:nth-of-type(2) > img {
    width: 400px;
    height: 500px;
}
.tour-threeSlide__block:nth-of-type(3) {
    grid-area: tambovNab;
}
.tour-threeSlide__block:nth-of-type(3) > img {
    width: 400px;
    height: 220px;
}
.tour-threeSlide__block:nth-of-type(4) {
    grid-area: soborPl;
}
.tour-threeSlide__block:nth-of-type(4) > img {
    width: 400px;
    height: 220px;
}
.tour-threeSlide__block:nth-of-type(5) {
    grid-area: soborPreo;
}
.tour-threeSlide__block:nth-of-type(5) > img {
    width: 400px;
    height: 220px;
}
.tour-threeSlide__block:nth-of-type(6) {
    grid-area: Nikol;
}
.tour-threeSlide__block:nth-of-type(6) > img {
    width: 400px;
    height: 220px;
}


// 4 слайд - Культурно - исторический потенциал

.tour-fourSlide {
    display: grid !important;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(3, 350px);
    grid-template-areas: "leftSide title"
                         "leftSide oneBlock"
                         "leftSide twoBlock";

    @include startStyleAnima;
    padding: 10px 20px 20px 20px;
}
.tour-fourSlide__title {
    grid-area: title;
    font-size: $titleFontSize;
}
.tour-fourSlide__block {
    width: 400px;
    height: 300px;
}
.tour-fourSlide__block:nth-of-type(1){
    display: flex;
    flex-direction: column;
    grid-area: leftSide;

}
.tour-fourSlide__block:nth-of-type(2){
    grid-area: oneBlock;
    
}
.tour-fourSlide__item {
    display: flex;
}
.tour-fourSlide__block:nth-of-type(3){
    grid-area: twoBlock;
    
}