.cultureTour__one-slide {
    @include startStyleAnima;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;

    $widthHex: 450px;
    $heightHex: calcHeightHexSlide($widthHex);
    $mgHex: 20px;

    .culturetour__one-slide__left-side {
    }
    .culturetour__one-slide__title {
        font-size: $sizeSlidesTitle;
        color: $colorSlidesTitle;
    }
    .culturetour__one-slide__item {
        color: $textColor;
        font-size: $textSize;
    }
    .culturetour__one-slide__item > p{
        font-size: $textSize;
        color: $textColor;
    }
    .culturetour__one-slide__icon {
    }
    .culturetour__one-slide__right-side {
        height: 90vh;
    }
    .culturetour__one-slide__hexagon-outer {
        width: $widthHex;
        height: $heightHex;
    }
    .culturetour__one-slide__hexagon-outer:nth-of-type(2){
        margin-left: calc(#{$widthHex} - #{$widthHex}/4 + #{$mgHex});
        position: relative;
        top: calc(#{-$heightHex}/2 + #{$mgHex});
    }
    .culturetour__one-slide__hexagon-outer:nth-of-type(3){
         
        position: relative;
        top: calc(#{-$heightHex} + #{$mgHex}); 
    }
    .culturetour__one-slide__hexagon-outer:nth-of-type(4) {
        margin-left: calc(#{$widthHex} - #{$widthHex}/4 + #{$mgHex});
        position: relative;
        top: calc(#{-$heightHex}*1.5 + 2*#{$mgHex});
    }
    .cultureTour__one-slide__img {
        width: 100%;
        height: 100%;
    }
    
    
}

// Культурно - исторический потенциал 2 слайд

.cultureTour__two-slide {
    @include startStyleAnima;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;

    $widthHex: 350px;
    $heightHex: calcHeightHexSlide($widthHex);
    $mgHex: 0px;
    .cultureTour__two-slide__col {
        display: flex;
        flex-direction: column;
        height: 90%;
        margin: 0 20px;
    }
    .culturetour__two-slide__hexagon-outer {
        width: $widthHex;
        height: $heightHex;
        margin-bottom: 10px;
    }
    .culturetour__one-slide__hexagon-outer--move {
        left: calc(#{$widthHex} - #{$widthHex}/4 + #{$mgHex});
        position: relative;
        top: calc(#{-$heightHex}/2 + #{$mgHex});
    }
    
    .cultureTour__two-slide__img {
        width: 100%;
        height: 100%;
    }

    .cultureTour__two-slide__title {
        font-size: calc(#{$sizeSlidesTitle} - 10px);
        color: $colorSlidesTitle;
    }
    .cultureTour__two-slide__img-block {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .cultureTour__two-slide__img-block img {
        width: 300px;
        height: 400px;
    }
    .cultureTour__two-slide__text-img {
        color: $textColor;
        font-size: calc(#{$textSize} - 2px);
        flex-basis: 60%;
        
    }
    .cultureTour__two-slide__info {
        color: $textColor;
        font-size: $textSize;
    }
}

