.industry__start-slide {

    $widthHex: 320px;
    $heightHex: calcHeightHexSlide($widthHex);
    $mgHex: 15px;
    .industry__title {
        font-size: $sizeSlidesTitle;
        color: $colorSlidesTitle;
        text-align: center;
    }
    .industry__blocks {
    }
    .industry__one-row {
        display: flex;
    }
    .industry__two-row {
        display: flex;
    }
    .industry__block {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
        position: relative;
        z-index: 2;
    }
    .industry__hexagon-inner {
    }
    .industry__hexagon-outer {
        
        width: $widthHex;
        height: $heightHex;
    }
    .industry__block:nth-of-type(n):nth-child(-n+4) {
        flex-direction: column-reverse;
    }
    .industry__block:nth-of-type(2n){
        top: calc(#{$heightHex}/2 + #{$mgHex});
        // left: calc( #{$widthHex} + #{$mgHex});

    }
    .industry__img {
        width: 100%;
        height: 100%;
    }
    .industry__text {
        font-size: calc(#{$textSize} - 6px);
        color: $textColor;
    }
   
}


// Промышленность - 1 слайд

.industry__one-slide {
    @include startStyleAnima;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;

    $widthHex: 450px;
    $heightHex: calcHeightHexSlide($widthHex);
    $mgHex: 15px;

    .industry__one-slide__left-side {
    }
    .industry__one-slide__title {
        font-size: $sizeSlidesTitle;
        color: $colorSlidesTitle;
    }
    .industry__one-slide__subtitle {
        font-size: $sizeSlidesTitle;
        color: $colorSlidesTitle;
    }
    .industry__one-slide__text {
        font-size: $textSize;
        color: $textColor;
    }
    .industry__one-slide__right-side {
    }
    .industry__one-slide__hexagon-outer {
        width: $widthHex;
        height: $heightHex;
    }
    .industry__one-slide__hexagon-outer:nth-of-type(2n){
        margin-left: calc(#{$widthHex} - #{$widthHex}/4 + #{$mgHex});
        position: relative;
        top: calc(#{-$heightHex}/2 + #{$mgHex});
    }
    
    
    .industry__one-slide__image {
        width: 100%;
        height: 100%;
    
    } 
}


// Промышленность - 2 слайд

.industry__two-slide {
    @include startStyleAnima;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;

    $widthHex: 450px;
    $heightHex: calcHeightHexSlide($widthHex);
    $mgHex: 15px;

    .industry__two-slide__left-side {
    }
    .industry__two-slide__title {
        font-size: $sizeSlidesTitle;
        color: $colorSlidesTitle;
    }
    .industry__two-slide__subtitle {
        font-size: $sizeSlidesTitle;
        color: $colorSlidesTitle;
    }
    .industry__two-slide__text {
        font-size: $textSize;
        color: $textColor;
    }
    .industry__two-slide__right-side {
    }
    .industry__two-slide__hexagon-outer {
        width: $widthHex;
        height: $heightHex;
    }
    .industry__two-slide__hexagon-outer:nth-of-type(2n){
        margin-left: calc(#{$widthHex} - #{$widthHex}/4 + #{$mgHex});
        position: relative;
        top: calc(#{-$heightHex}/2 + #{$mgHex});
    }
    .industry__two-slide__hexagon-inner {
    }
    
    .industry__two-slide__image {
        width: 100%;
        height: 100%;
    }
}


//Промышленность - 3 слайд

.industry__three-slide {
    @include startStyleAnima;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;

    $widthHex: 450px;
    $heightHex: calcHeightHexSlide($widthHex);
    $mgHex: 15px;

    .industry__three-slide__left-side {
    }
    .industry__three-slide__title {
        font-size: $sizeSlidesTitle;
        color: $colorSlidesTitle;
    }
    .industry__three-slide__subtitle {
        font-size: $sizeSlidesTitle;
        color: $colorSlidesTitle;
    }
    .industry__three-slide__text {
        font-size: $textSize;
        color: $textColor;
    }
    .industry__three-slide__right-side {
        margin-top: 100px;
    }
    .industry__three-slide__hexagon-outer {
        width: $widthHex;
        height: $heightHex;
    }
    .industry__three-slide__hexagon-outer:nth-of-type(2n){
        margin-left: calc(#{$widthHex} - #{$widthHex}/4 + #{$mgHex});
        position: relative;
        top: calc(#{-$heightHex}/2 + #{$mgHex});
    }
    .industry__three-slide__hexagon-outer:nth-of-type(3){
        position: relative;
        top: calc(#{-$heightHex} + #{$mgHex});
    }
    .industry__three-slide__image {
        width: 100%;
        height: 100%;
    }
}




